body {
  margin: 0;
  padding: 0;

  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #ffffff;
}

.cv {
  width: 900px;
  margin: 0 auto;

  background-color: #24249e;
  box-shadow: 0px 2px 15px 2px rgba(0, 0, 0, 0.5);
}

.cv__name {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 40px 0 20px 0;

  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-shadow: 2px 2px #000000;
}

.cv__img {
  display: block;
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 0;

  border: 2px solid #000000;
  border-radius: 100%;
}

.contacts {
  padding: 40px 20px 20px 20px;
  background-color: #fff;
}

.contacts__title {
  display: flex;
  justify-content: center;
  margin: 0;
  padding-bottom: 40px;

  font-size: 2rem;
  text-transform: uppercase;
  color: #24249e;
}

.contacts__list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.contacts__item-type {
  font-weight: 700;
  color: #24249e;
}

.contacts__item {
  width: 290px;
  margin-bottom: 20px;

  list-style: none;
}

.contacts__link {
  color: #000000;
  text-decoration: none;
}

.contacts__link:hover {
  text-decoration: underline;
}

.about-me {
  padding: 40px 20px 20px 20px;
}

.about-me__title {
  display: flex;
  justify-content: center;
  margin: 0;
  padding-bottom: 20px;

  font-size: 2rem;
  text-transform: uppercase;
}

.about-me__text {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.skills {
  padding: 40px 20px 20px 20px;
  background-color: #fff;
}

.skills__title {
  display: flex;
  justify-content: center;
  margin: 0;
  padding-bottom: 40px;

  font-size: 2rem;
  text-transform: uppercase;
  color: #24249e;
}

.skills__list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.skills__item {
  display: flex;
  justify-content: center;
  width: 150px;
  margin-bottom: 20px;

  list-style: none;
}

.skills__item span {
  font-weight: 700;
  color: #24249e;
}

.my-code {
  padding: 40px 20px 20px 20px;
}

.my-code__title {
  display: flex;
  justify-content: center;
  margin: 0;
  padding-bottom: 20px;

  font-size: 2rem;
  text-transform: uppercase;
}

.my-code__text {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.work-experience {
  padding: 40px 20px 20px 20px;
  background-color: #fff;
}

.work-experience__title {
  display: flex;
  justify-content: center;
  margin: 0;
  padding-bottom: 20px;

  font-size: 2rem;
  text-transform: uppercase;
  color: #24249e;
}

.education {
  padding: 40px 20px 20px 20px;
}

.education__title {
  display: flex;
  justify-content: center;
  margin: 0;
  padding-bottom: 20px;

  font-size: 2rem;
  text-transform: uppercase;
}

.education__list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.education__item {
  width: 240px;
  margin-bottom: 20px;
}

.education__link {
  color: #000000;
  text-decoration: none;
}

.education__link:hover {
  text-decoration: underline;
}

.english {
  padding: 40px 20px 20px 20px;
  background-color: #fff;
}

.english__title {
  display: flex;
  justify-content: center;
  margin: 0;
  padding-bottom: 20px;

  font-size: 2rem;
  text-transform: uppercase;
  color: #24249e;
}

.english__text {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;

  color: #24249e;
}

.english__text a {
  margin-right: 5px;
  color: #000000;
  text-decoration: none;
}

.english__text a:hover {
  text-decoration: underline;
}
